In [2]:
import pandas as pd

In [3]:
person = pd.read_csv('survey_person.csv')
site = pd.read_csv('survey_site.csv')
survey = pd.read_csv('survey_survey.csv')
visited = pd.read_csv('survey_visited.csv')

In [4]:
person

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [5]:
site

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [6]:
survey

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [7]:
visited

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [8]:
# df1.merge(df2, left_on="df1의 기준열",right_on="df2의 기준열")
# 각 데이터프레임의 기준열을 보고 열 방향으로 합침
# 기준열의 이름이 같다면 on="기준열"

result = visited.merge(site, left_on = 'site', right_on = 'name')
result

   ident   site       dated   name    lat    long
0    619   DR-1  1927-02-08   DR-1 -49.85 -128.57
1    622   DR-1  1927-02-10   DR-1 -49.85 -128.57
2    844   DR-1  1932-03-22   DR-1 -49.85 -128.57
3    734   DR-3  1939-01-07   DR-3 -47.15 -126.72
4    735   DR-3  1930-01-12   DR-3 -47.15 -126.72
5    751   DR-3  1930-02-26   DR-3 -47.15 -126.72
6    752   DR-3         NaN   DR-3 -47.15 -126.72
7    837  MSK-4  1932-01-14  MSK-4 -48.87 -123.40

In [9]:
del result['name']
result

   ident   site       dated    lat    long
0    619   DR-1  1927-02-08 -49.85 -128.57
1    622   DR-1  1927-02-10 -49.85 -128.57
2    844   DR-1  1932-03-22 -49.85 -128.57
3    734   DR-3  1939-01-07 -47.15 -126.72
4    735   DR-3  1930-01-12 -47.15 -126.72
5    751   DR-3  1930-02-26 -47.15 -126.72
6    752   DR-3         NaN -47.15 -126.72
7    837  MSK-4  1932-01-14 -48.87 -123.40

In [10]:
result2 = result[['ident', 'site', 'lat', 'long', 'dated']]
result2

   ident   site    lat    long       dated
0    619   DR-1 -49.85 -128.57  1927-02-08
1    622   DR-1 -49.85 -128.57  1927-02-10
2    844   DR-1 -49.85 -128.57  1932-03-22
3    734   DR-3 -47.15 -126.72  1939-01-07
4    735   DR-3 -47.15 -126.72  1930-01-12
5    751   DR-3 -47.15 -126.72  1930-02-26
6    752   DR-3 -47.15 -126.72         NaN
7    837  MSK-4 -48.87 -123.40  1932-01-14

# 1. person, survey 데이터 프레임 합쳐보기

In [13]:
df = person.merge(survey, left_on = 'ident', right_on = 'person')
del df['ident']
df_result = df[['person', 'personal', 'family', 'quant', 'taken', 'reading']]
df_result

   person   personal   family quant  taken  reading
0    dyer    William     Dyer   rad    619     9.82
1    dyer    William     Dyer   sal    619     0.13
2    dyer    William     Dyer   rad    622     7.80
3    dyer    William     Dyer   sal    622     0.09
4      pb      Frank  Pabodie   rad    734     8.41
5      pb      Frank  Pabodie  temp    734   -21.50
6      pb      Frank  Pabodie   rad    735     7.22
7      pb      Frank  Pabodie   rad    751     4.35
8      pb      Frank  Pabodie  temp    751   -18.50
9    lake   Anderson     Lake   sal    734     0.05
10   lake   Anderson     Lake   sal    751     0.10
11   lake   Anderson     Lake   rad    752     2.19
12   lake   Anderson     Lake   sal    752     0.09
13   lake   Anderson     Lake  temp    752   -16.00
14   lake   Anderson     Lake   rad    837     1.46
15   lake   Anderson     Lake   sal    837     0.21
16    roe  Valentina  Roerich   sal    752    41.60
17    roe  Valentina  Roerich   sal    837    22.50
18    roe  Valentina  Roerich   rad    844    11.25

# 2. visited, survey 데이터 프레임 합쳐보기

In [14]:
df5 = visited.merge(survey, left_on = 'ident', right_on = 'taken')
del df5['taken']
df_result2 = df5[['ident', 'person', 'quant', 'site', 'reading', 'dated']]
df_result2

    ident person quant   site  reading       dated
0     619   dyer   rad   DR-1     9.82  1927-02-08
1     619   dyer   sal   DR-1     0.13  1927-02-08
2     622   dyer   rad   DR-1     7.80  1927-02-10
3     622   dyer   sal   DR-1     0.09  1927-02-10
4     734     pb   rad   DR-3     8.41  1939-01-07
5     734   lake   sal   DR-3     0.05  1939-01-07
6     734     pb  temp   DR-3   -21.50  1939-01-07
7     735     pb   rad   DR-3     7.22  1930-01-12
8     735    NaN   sal   DR-3     0.06  1930-01-12
9     735    NaN  temp   DR-3   -26.00  1930-01-12
10    751     pb   rad   DR-3     4.35  1930-02-26
11    751     pb  temp   DR-3   -18.50  1930-02-26
12    751   lake   sal   DR-3     0.10  1930-02-26
13    752   lake   rad   DR-3     2.19         NaN
14    752   lake   sal   DR-3     0.09         NaN
15    752   lake  temp   DR-3   -16.00         NaN
16    752    roe   sal   DR-3    41.60         NaN
17    837   lake   rad  MSK-4     1.46  1932-01-14
18    837   lake   sal  MSK-4     0.21  1932-01-14
19    837    roe   sal  MSK-4    22.50  1932-01-14
20    844    roe   rad   DR-1    11.25  1932-03-22